@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/satoshi");
:root {
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: #111111;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 13px;
}
* {
  margin: 0px;
  font-family: "Satoshi", sans-serif;
}
#Contact {
  height: auto;
  width: 16px;
}

/* sm h1 => 3xl h2 => 2xl h3 => xl */
